{% extends "layout.html" %}

{%block content%}
    {% for post in posts %}
        <article class="card hoverable">
            <div class="card-content indigo lighten-3">
                <!-- style="font-weight: 500" -->
                <!-- <span class="card-title"><h4>{{post.title}}</h4></span> -->
                <h5>{{post.title}}</h5>
                <p>{{post.content}}</p>
            </div>
            <div class="card-action blue-grey lighten-3">
                <!-- <a href="#" class="orange-text text-darken-4">{{post.author}}</a> -->
                <span>{{post.author}}</span>
                <span class="right">{{post.date_posted}}</span>
            </div>
        </article>
    {% endfor %}
{% endblock %}